[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask = "*"
ipykernel = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
scikit-surprise = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
